    body {
      background-color: hsl(47, 88%, 63%);
      font-family: figtree;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    p {
      color: hsl(0, 0%, 7%);
      font-size: 16px;
    }

    .gray {
      color: hsl(0, 0%, 42%);
    }
    .container {
      background-color: hsl(0, 0%, 100%);
      box-sizing: border-box;
      outline: black solid 1px;
      border-radius: 10px;
      box-shadow: 5px 5px  black;
      padding: 20px;
      width: 350px;
    }
    .container img {
      border-radius: 10px;
      width: 100%;
    }

    h3 a {
      color:  hsl(0, 0%, 7%);
      font-weight: 800;
      text-decoration: none;
    }
    h3 a:hover {
      color:  hsl(47, 88%, 63%);
    }

    .learn {
      color: hsl(0, 0%, 7%);
      font-weight: 800;
      background-color: hsl(47, 88%, 63%);
      border-radius: 10px;
      padding: 10px;
      font-size: 16px;
      width: 20%;
    }

    .attribution { font-size: 11px; 
      text-align: center;
      }

    .attribution a { color: hsl(228, 45%, 44%); }