:root {
  --bg-color: hsl(47, 88%, 63%);
  --main-font-color: hsl(0, 0%, 7%);
  --description-color: hsl(0, 0%, 42%);
  --card-bg-color: hsl(0, 0%, 100%);
  --border-color: black
}

body {
  background-color: var(--bg-color);
  font-family: 'figtree', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

p {
  color: var(--main-font-color);
  font-size: 1rem;
}

.description {
  color: var(--description-color);
}

main {
  background-color: var(--card-bg-color);

  box-sizing: border-box;
  border: var(--border-color) solid 1px;
  border-radius: 1.25rem;
  box-shadow: .5rem .5rem  var(--border-color);

  padding: 1.25rem 1.25rem .625rem 1.25rem;
  width: 23.4375rem;
}

main img {
  border-radius: 0.9375rem;
}

h1 a {
  color:  var(--main-font-color);
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

h1 a:hover {
  color:  var(--bg-color);
}

.learn {
  color: var(--main-font-color);
  font-weight: bold;

  background-color: var(--bg-color);
  border-radius: .625rem;
  padding: .625rem;
  width: 20%;
}
    
section img{
  display: flex;
  width: 1.875rem;
}

section p {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .625rem;
}

footer {
  position: absolute;
  bottom: .625rem;
  font-size: .75rem; 
  text-align: center;
}

footer a { 
  color: var(--description-color); 
  text-decoration: none;}