    body {
      background-color: hsl(47, 88%, 63%);
      font-family: 'figtree', sans-serif;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;

    }

    p {
      color: hsl(0, 0%, 7%);
      font-size: 16px;
    }

    .gray {
      color: hsl(0, 0%, 42%);
    }

    main {
      background-color: hsl(0, 0%, 100%);

      box-sizing: border-box;
      border: black solid 1px;
      border-radius: 20px;
      box-shadow: 7px 7px  black;

      padding: 20px 20px 10px 20px;
      width: 375px;
    }
    main img {
      border-radius: 15px;
    }

    h3 a {
      color:  hsl(0, 0%, 7%);
      font-weight: 800;
      text-decoration: none;
    }
    h3 a:hover {
      color:  hsl(47, 88%, 63%);
    }

    .learn {
      color: hsl(0, 0%, 7%);
      font-weight: bold;

      background-color: hsl(47, 88%, 63%);
      border-radius: 10px;
      padding: 10px;
      width: 20%;
    }
    
    section img{
      display: flex;
      width: 30px;
    }

    section p {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    footer {
      position: absolute;
      bottom: 10px;
      font-size: 11px; 
      text-align: center;
      }

    footer a { color: hsl(228, 45%, 44%); }